/*common-list*/
.common-list { padding: 10px; text-align: center;}
.common-list .content{ margin: 0 auto;}
.common-list .content .common-table{ margin: 0 auto;}
.common-list .content .common-table th { text-align: right;}
.common-list .content .common-table td { text-align: left;}
.common-list .content .common-table td .tips { padding-left: 5px; color: #9CACAF;}