{include file="pageheader_debug.htm"}
{insert_scripts files="../js/jquery.min.js"}
{insert_scripts files="../js/ueditor/ueditor.config.js,../js/ueditor/ueditor.all.js,../js/ueditor/lang/zh-cn/zh-cn.js"}
<div class="form-div">
    <form class="searchForm">
    <!--    邮件模板：      
        <select id="selTemplate">
            {foreach from=$templates item=template key=key}
            <option value="{$key}">{$template}</option>
            {/foreach}
        </select>
    -->
        邮件html模板：
        <select id="htmlTemplate">
            <option value="">请选择...</option>
            {foreach from=$html_list item=html}
            <option value="{$html}">{$html}</option>
            {/foreach}
        </select>
        发送对象：
        <select id="sendUsers">
            <option value="1">所有会员</option>
            <option value="2">V4会员</option>
            <option value="3">V3会员</option>
            <option value="4">V2会员</option>
            <option value="5">V1会员</option>
        </select>
        队列标记：
        <input id="list_tag" type="text" name="list_tag" />
        开始位置：
        <input id="offset" type="text" name="offset" />
    </form>
</div>
<div  id="tabbody-div" >
<form action="sendmail.php" name="myfrom" method="post" onSubmit="return check();">
  <table width="90%" id="general-table" align="center">
    <tr>
      <td class="label"><strong>主题</strong></td>
      <td><input id="email_title" name="title" type="text" size="40" /></td>
    </tr>
    <tr>
      <td class="label"><strong>内容</strong></td>
      <td>
          {$email_temp}
      </td>
    </tr>
    <tr>
      <td class="label">&nbsp;</td>
      <td><span class="button-div">
        <input name="submit" type="submit" class="button" value="{$lang.button_submit}" />
        <input name="reset" type="reset" class="button" value="{$lang.button_reset}" />
        <input type="hidden" name="act" value="do_sendmail">
      </span></td>
    </tr>
  </table>
    <input id="html_tpl" type="hidden" name="html_tpl" value="" />
    <input id="form_sendUsers" type="hidden" name="sendUsers" />
    <input id="form_list_tag" type="hidden" name="list_tag" />
    <input id="form_offset" type="hidden" name="offset" />
 </form>
<script type="text/javascript">
var editor = UE.getEditor('email_template');
function check(){
    if($("#email_title").val() == ''){
        alert("主题不能为空");
        return false;
    }
    $("#html_tpl").val($("#htmlTemplate").val());
    $("#form_sendUsers").val($("#sendUsers").val());
    $("#form_list_tag").val($("#list_tag").val());
    $("#form_offset").val($("#offset").val());
    return true;
}

$("#htmlTemplate").change(function(){
    var file = $(this).val();
    if(file != ''){
        load_template(file);
    }
});

function load_template(file){
    $.ajax({
        type:"post",
        url:"sendmail.php?act=load_template&tpl="+file,
        dataType:"json",
        success:function(data){
            editor.setContent(data.content);
        }
    });
}
</script>
</div>

{include file="pagefooter.htm"}