.commodity{margin: 0; padding: 0; text-align: center; background: #efffff;}
.poster{background: url(images/poster.jpg) center no-repeat; height:528px; min-width: 1190px;}
.commodity_c{}

/* commodity1 */
.commodity1{background: url(images/commodity1.jpg) center no-repeat; height:580px; position: relative;}
.c1_top{color: #4f4238; text-align: left; font-size: 19px; line-height: 22px; letter-spacing: -2px; padding-top: 35px; padding-left: 95px; padding-right: 90px;}
.span_r{color: #f13774;}
.c1_c{}
.c1_c1{}
.c1_img{background: url(images/pig.png) center no-repeat; width: 143px; height: 195px; position: absolute; top: 161px; left: -40px;}

.rounded {
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    position:relative;
    behavior:url(/themes/deebeis/style/PIE.htc);
}

/* nav */
.category_nav{margin-top: 120px; margin-left: 80px; margin-right: 90px;}
.cate_nav_item{border-top: solid 2px #644d36;  padding-left: 30px; padding-right: 40px;}
.first_nav_item {border-top:none;}
.frist_item{border-top: solid 2px #fffcf5;}
.nav_left{font-size: 16px; font-weight: bold; width: 20px; float: left; color: #4f351c; line-height: 25px; padding-top: 15px;}
.nav_all { float: left; text-align: center; width: 80px; margin-top: 10px; margin-left: 10px; height: 28px; line-height: 28px; color:#765C40; cursor: pointer;}
.nav_all a { padding:2px 5px;}
.nav_all_selected a { background: #4F351C; color:#FFF;}
.cate_nav_item ul{ padding: 10px 0 10px 110px; *overflow:hidden;}
.cate_nav_item ul li{float: left; width: 120px; height: 28px; line-height: 28px; color: #765c40; overflow:hidden; cursor: pointer; text-align: left;}
.cate_nav_item ul li a { color:#765c40; cursor: pointer; padding:2px 5px;}
.cate_nav_item ul li label { cursor: pointer;}
.cate_nav_item ul .selected a {background: #4F351C; color:#FFF;}
.cate_nav_item ul .disabled a {color:#CCC;}
.frist_li{width: 80px;}
.nav_onclick{background: #4f351c; color: #ffffff; font-weight: bold; padding:0px 5px 3px 5px;}
.nav_more{cursor: pointer; color: #765c40; width: 100px;}
.item_li label{cursor: pointer;}

/* commodity2 */
.commodity2{background: url(images/commodity2.jpg) center no-repeat; height:165px; text-align: left; padding-top: 110px; position: relative;}
.c2_font{margin-left: 40px; width: 800px;}
.c2_t{font-size: 24px; font-weight: bold; height: 45px; line-height: 40px; color: #0578c8;}
.c2_c{font-size: 20px; line-height: 32px; color: #636262;}
.c2_img{background: url(images/commodity2_img.png) center no-repeat; height: 273px; width: 323px; position: absolute; top:3px; right: -25px;}

/* commodity3 */
.commodity3{background: #fefefe; }


/* goodbox */
.goods_box{ padding: 25px 0px 20px 19px;background: url(images/commodity3.jpg) no-repeat bottom;}
.category_good{border: solid 1px #FFF; border-bottom:solid 2px #FFF; width: 270px; float: left; margin-right: 15px; margin-bottom: 20px; background: #FFF; padding:2px;}
.goodsImg{height: 270px;}
.goodsImg img { width: 100%; height: 100%;}
.goodsName {
    text-align: center;
    overflow: hidden;
    font-size: 13px;
    height: 35px;
    line-height: 18px;
    background: none repeat scroll 0% 0% #FFF;
    padding: 0px 20px;
}
.goodsPrice {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #DF1322;
    background: none repeat scroll 0% 0% #FFF;
    text-align: left;
    padding-left: 32px;
}
.goods_box .hover{
    border:1px solid #CCC;
    border-bottom: 2px solid #DF1322;
}

.catlist_menu{ background:url(images/nav.png) center top no-repeat; width:105px;height:auto;}
.side_close{ background: none;}
.catlist_title { background: url(images/nav_title.png) no-repeat; height: 123px;}
.catlist_body { padding-top:0;}
.catlist_scroll { background: url(images/nav_content.png) left top no-repeat; width: 100%; margin-top:18px;}
.catlist_ctl{display: block; background: url(images/menu_list.png); position: absolute; width: 105px;}
.catlist_up{background-position:0 -64px;}
.catlist_up_hover{background-position:0 -89px;}
.catlist_down{height:25px;background-position:0 0;}
.catlist_down_hover{background-position:0 -32px;}
.catlist_ul { float:none; margin:0}
.catlist_ul li { text-align: center; width: 100%; background: url(images/left_nav_li.png) no-repeat; height: 39px; line-height: 20px; padding:0;}
.catlist_ul .selected { background: none;}
.category_name_div { width:70%; height: 50%; margin-top:7px; margin-left: 13px;}
.catlist_ul .selected .category_name_div { color:#FFF; background: #DF1322;}
.catlist_repeaty {display: none;}
.catlist_foot { background: url(images/left_nav_foot.png) right top no-repeat; height: 59px;}