<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$lang.cp_home}{if $ur_here} - {$ur_here} {/if}</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/easyui_page.css" rel="stylesheet" type="text/css" />
<link href="js/easyui1.4.1/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="js/easyui1.4.1/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="js/easyui1.4.1/themes/color.css" rel="stylesheet" type="text/css" />
{insert_scripts files="easyui1.4.1/jquery.min.js,easyui1.4.1/jquery.easyui.min.js,easyui1.4.1/locale/easyui-lang-zh_CN.js"}
</head>
<body>